/* TODO Add site wide styles */
@import "react-slideshow-image/dist/styles.css";
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
#root{
  height: 100%;
}
*{
  font-family: 'Lato', sans-serif;
  /* color: #322f3d; */
}
.formBackgorund {
  background-color: #59405c,
}
.animate__animated.animate__fadeOut {
  --animate-delay: 3s;
}
